/* General container styles */
.infograph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
  }
  
  /* Style for node labels to add border */
  .node-label {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #000; */
    /* padding: 2px; */
    /* margin: 5px; */
    border-radius: 8px;
    /* height: 10%; */
    /* width: 90%; */
  }

  .image-name-container{
    /* border: 1px solid grey; */
    /* padding: 5px 0px; */
    padding-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-name-container div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-name-container img{
    margin-top: 100%;
  }
  
  .node-label>div>div{
    font-size: 12px;
  }

  .node-label img{
    width: 45%;
  }


  @media (max-width: 768px){
    .node-label{
      font-size: 12px;
    }
    .infograph-container{
      padding: 0px 20px;
      overflow-y: scroll;
      padding-left: 200px;
    }
  }
  